@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 50.6%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  padding: 32px 0;
  position: absolute;
  z-index: 1;
}
header img {
  width: 210px;
  height: 35px;
  border: 1px solid #fff;
}

.header-top .wrapper {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  margin-right: 5px;
  display: flex;
}

.search {
  padding: 1px 26px 1px 12px;
  font-size: 12px;
}

.searchbutton {
  padding: 0 13px;
  border: none;
  background: #369FE3;
  color: #fff;
}

.header-bottom {
  padding: 7px 0;
  margin-top: 46px;
  background: #2A79C2;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px;
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  width: 84%;
  margin-left: 11px;
}

.menus ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menus ul li {
  padding-right: 12px;
  border-right: 1px solid;
}

.menus ul li:last-child {
  border: none;
}

.menus ul li a {
  color: #fff;
  font-size: 13px;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling starts  */
.banner {
  position: relative;
}

.banner-content h2 {
  color: #fff;
  font-size: 31px;
}

.banner-content {
  position: absolute;
  bottom: 23.6%;
}

.banner-content h2 {
  color: #fff;
  font-size: 34px;
}

.banner-content p {
  width: 55%;
  margin-top: 14px;
  font-size: 26px;
  line-height: 31px;
}

.banner figure {
  height: 492px;
}

/* banner styling ends  */
/* form section start  */
.form {
  padding: 30px 0 113px;
  position: relative;
}

.form .wrapper ul li a {
  color: #000;
  font-size: 11px;
  opacity: 0.7;
}

form span {
  margin-top: 10px;
  display: block;
  color: #ff0000;
}

.newsletter {
  margin-left: 4px;
  font-size: 11px;
  opacity: 1;
}

.eurofinance::after {
  content: "\f105";
  margin-left: 10px;
  font-family: "fontAwesome";
  font-size: 14px;
}

.form h3 {
  margin-top: 24px;
  color: #5B92C7;
  font-size: 29px;
}

.form label {
  margin: 18px auto 7px;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.form input[type="text"],input[type="email"],select {
  width: 31.7%;
  padding: 7px 0;
  border: 2px solid rgba(0,0,0,0.2);
}

.checkbox-field p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}

.checkbox-field label {
  margin: 0;
}

.checkbox-yes,.checkbox-no {
  display: flex;
  justify-content: flex-start;
}

.checkbox-yes {
  margin-top: 26px;
}

.form .checkbox input[type = "checkbox"] {
  width: auto;
  padding: 0;
}

input[type="submit"] {
  margin-top: 15px;
}

.move-up {
  position: absolute;
  top: 19.8%;
  right: 2%;
  text-indent: -9999px;
}

.move-up::before {
  content: "\f077";
  padding: 10px;
  border-radius: 100%;
  float: right;
  background-color: #9F9F9F;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

input[type="button"] {
  width: 19.5%;
  margin-top: 15px;
  padding: 10px 0;
  border: none;
  background: #369FE3;
  color: #fff;  font-size: 12px;
  font-size: 12px; 
}

/* form section end  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  color: #fff;
}

.footer-top {
  padding: 41px 0 61px;
  position: relative;
  background: #163A71;
}

.footer-top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top figure {
  width: 192px;
  height: 68px;
}

.footer-top h4 {
  font-size: 15px;
  opacity: 0.8;
}

.our-eurofinance {
  margin-right: 6.6%;
}

.eurofinance-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.eurofinance-list li a {
  color: #fff;
  font-size: 13px;
  opacity: 0.9;
}

.keep-updated {
  margin-right: 9%;
  flex-basis: 23%;
}

.footer-icons {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.footer-icons li a {
  text-indent: -9999px;
}

.footer-icons li a::before {
  content: "\f16d";
  padding: 6px;
  float: right;
  border-radius: 100%;
  background-color: #fff;
  color: #2878B5;
  font-family: "fontAwesome";
  font-size: 23px;
  text-indent: 0;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.footer-icons li a:hover::before {
  color: #ffa000;
}

.footer-icons li:nth-child(2) a:before {
  content: "\f099";
  color: #39A1F2;
}

.footer-icons li:nth-child(3) a:before {
  content: "\f0da";
  padding: 2px 11px;
  color: #F62100;
  font-size: 31px;
}

.footer-icons li:nth-child(4) a:before {
  content: "\f09a";
  padding: 6px 11px;
  color: #4464A7;
}

.footer-bottom {
  padding: 9px 0;
  background: #103567;
}

.footer-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-info {
  display: inline-block;
  font-size: 10px;
  opacity: 0.7;
  white-space: nowrap;
}

.footer-bottom-info li {
  padding: 0 4px 0 2px;
  border-right: 1px solid #fff;
}

.footer-bottom-info li:last-child {
  border: none;
}

.footer-bottom-info li a {
  color: #fff;
}
.footer-bottom-info li:first-child {
  padding-left: 0;
}

.copyright {
  color: #fff;
  font-size: 11px;
  opacity: 0.8;
}

.move-up-footer {
  position: absolute;
  bottom: 4px;
  right: 2%;
  text-indent: -9999px;
}

.move-up-footer::before {
  content: "\f077";
  padding: 10px;
  border-radius: 100%;
  float: right;
  background-color: #14254E;
  color: #4B5C84;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px){

  .menus {
    width: auto;
    margin: 0;
  }

  .menus ul li {
    padding-right: 7px;
  }

}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

header .wrapper,.footer-top .wrapper,.footer-bottom .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.form input[type="text"], input[type="email"], select {
  width: 90%;
}

.keep-updated {
  text-align: center;
}

.footer-icons {
  column-gap: 10px;
}

}  
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  header {
    position: static;
    background-color: #2A79C2;
  }

  .menus {
    display: none;
  }

  .menus ul {
    flex-direction: column;
    row-gap: 10px;
  }

  .menus ul li {
    border: none;
  }

  .hamburger {
    display: block;
  }

  .search {
    padding: 5px 26px 5px 12px;
  }

  .header-bottom {
    margin-top: 6px;
  }

}